body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: #202020;
    line-height: 16pt;
    letter-spacing: 0.4px;
    margin: 0px;
}
.page {
    position: relative;
    display: flex;
    
    flex-direction: column;
    height: 100vh;
    /* border: 1px solid red; */
}

.fullsize-editor {
    position: absolute;
    width: 100%;
    bottom: 0px;
    top: 40px;
    display: flex;
    /* height: 100%; */
    flex-direction: row;
    justify-content: center;
}


.block {
    display: block;
    width: 100%;
    overflow: auto;
    padding: 20px;
    margin: 2px;
}

.edit_block {
    width: 100%;
    overflow: auto;
    border: 0px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: #202020;
    line-height: 16pt;
    letter-spacing: 0.4px;
    margin: 0px;
}

.vert-line {
    width: 1px;
    background-color: #b8b8b8;
    height: auto;
    margin: 5px;
}

blockquote {
    padding: 0 15px;
    margin-left: 0;
    color: #757575;
    border-left: 4px solid #4b4b4b;
}

mark {
    /* font-family: 'Times New Roman'; */
    background-color: #fafafa;
    font-size: 12pt;
    color: #202020;
    padding: 2px 6px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    box-sizing: border-box;
    margin: 3px 2px;
}

a {
    color: rgb(0, 153, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 66, 110);
    
}
h1 {
    color: #202020;
    text-align: center;
}
br {
    margin: 10px;
}

pre {
    word-break: break-all;
    hyphens: auto;
    word-wrap: break-word;
}
code {
    white-space: pre;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gainsboro;
    border-left: 6px solid #4b4b4b;
    border-radius: 10px;
    padding: 10px 20px !important;
}

hr {
    margin: 20px 2px;
    border: 0px;
    border-top: 1px solid gainsboro;
    height: 1px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    /* position: absolute; */
    display: flex;
    flex: none;
    width: 100%;
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    background-color: rgb(248, 248, 248);
    padding: 0px 20px 0px 20px;
    box-sizing: border-box;
}

.menu .button {
    transition: border 0.25s, background-color 0.25s;
    padding: 3px 7px;
    margin: 3px 3px 0px 3px;
    border-radius: 5px;
    border: 1px solid rgba(180, 180, 180, 0);
    color: gray;
    min-width: 28px;
    min-height: 28px;
    text-align: center;
    box-sizing: border-box;
}

.menu .button:hover {
    user-select: none;
    -moz-user-select: none;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(180, 180, 180);
    cursor: pointer;
}
.menu .button:active {
    user-select: none;
    -moz-user-select: none;
    background-color: rgb(255, 173, 173);
}

.menu .control-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    vertical-align: middle;
}

.menu .control-buttons .bold {
    font-weight: bold;
}

.menu .control-buttons .italic {
    font-style: italic;
}

.menu .control-buttons .underline {
    text-decoration: underline;
}

.menu .control-buttons .strikethrough  {
    text-decoration: line-through;
}

.menu .control-buttons .undo, .redo, .vert-line {
    display: none;
}

@media screen and (max-device-width: 800px) {
    .menu {
        z-index: 1000;
        position: fixed;
    }
    .menu .button {
        border: 1px solid rgb(180, 180, 180);
    }
    .menu .control-buttons .undo, .redo, .vert-line {
        display: block;
    }
    .fullsize-editor {
        bottom: auto;
    }
    .fullsize-editor .vert-line {
        display: none;
    }
    
}
@media screen and (min-width: 801px) {
}

